In [1]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:4110E009
Hello, 4110E009

In [2]:
a = input("請輸入：")
a

請輸入：4110E009

'4110E009'

In [3]:
a = input("請輸入：")
a
b=a+1
b

請輸入：4110E009

TypeError: ignored

In [5]:
a = eval(input("請輸入："))
a

b=a+1
b

請輸入：100

101

In [6]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：50,20

(50, 20)

In [8]:
import math

x = math.sqrt(64)

print(x)

8.0

In [10]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [11]:
import math

x = math.pi

print(x)

3.141592653589793

In [12]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [13]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [14]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [15]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [18]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

41

In [19]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [20]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: ignored

In [21]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [22]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [24]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry